{% extends "notes1/base.html" %}
{% block content %}

{% if request.user.is_authenticated  %}
    {% for post in posts %}

      {% if request.user == post.author %}

    <div class='row'>
    <div class='col-12'>
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
            Автор : <b>{{ post.author }}</b> |
              Категория : <b> {{ post.category }}</b> |
              <small class="text-muted">Дата <b>{{ post.date_posted|date:"F d, Y" }}</b>
              <b> {{ post.categories.title }}</b>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
      
          </div>
        </article>
        </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endif %}

{% endblock content %}
